PUERTO_ESCUCHA=8080
IP_PLACA=127.0.0.1
PUERTO_PLACA=8081
IP_STORAGE=127.0.0.1
PUERTO_STORAGE=8082
LOG_LEVEL=INFO
ALGORITMO_PLANIFICACION=FIFO
RR_QUANTUM=20
ESTIMACION_INICIAL=10000
HRRN_ALFA=0.5
GRADO_MULTIPROGRAMACION=1
PATH_DATOS=./runtime/01_instrucciones/datos/
RETARDO_LOADER=500
PATH_REPORTES=./runtime/01_instrucciones/reportes.log
