PUERTO_ESCUCHA=8080
IP_PLACA=127.0.0.1
PUERTO_PLACA=8081
IP_STORAGE=127.0.0.1
PUERTO_STORAGE=8082
LOG_LEVEL=INFO
ALGORITMO_PLANIFICACION=FIFO
RR_QUANTUM=2000
ESTIMACION_INICIAL=10000
HRRN_ALFA=0.5
GRADO_MULTIPROGRAMACION=5
PATH_DATOS=./runtime/02_fifo_un_core/datos/
RETARDO_LOADER=500
PATH_REPORTES=./runtime/02_fifo_un_core/reportes.log
